<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Car Control</title>
    <style>
        body { font-family: Arial; text-align: center; margin: 0 auto; padding-top: 30px; }
        .button { background-color: #2f4468; border: none; color: white; padding: 10px 20px; text-align: center; display: inline-block; font-size: 18px; margin: 6px 3px; cursor: pointer; }
        img { width: auto; max-width: 100%; height: auto; }
    </style>
</head>
<body>
    <h1>AI Car Control</h1>
    <img src="{{ url_for('video_feed') }}" id="video">
    <div>
        <button class="button" onclick="sendCommand('forward')">Forward</button>
        <button class="button" onclick="sendCommand('backward')">Backward</button>
        <button class="button" onclick="sendCommand('left')">Left</button>
        <button class="button" onclick="sendCommand('right')">Right</button>
        <button class="button" onclick="sendCommand('stop')">Stop</button>
        <br>
        <button class="button" onclick="sendCommand('speed40')">Speed 40</button>
        <button class="button" onclick="sendCommand('speed50')">Speed 50</button>
        <button class="button" onclick="sendCommand('speed60')">Speed 60</button>
        <button class="button" onclick="sendCommand('speed80')">Speed 80</button>
        <button class="button" onclick="sendCommand('speed100')">Speed 100</button>
    </div>
    <script>
        function sendCommand(command) {
            fetch(`/action?go=${command}`);
        }
    </script>
</body>
</html>
